body {
    font-family: 'Segoe UI', sans-serif;
    margin:0px;
}

span {
    font-style: italic;
}
#display{   
    width: 100vw;
    height: 50vh;
}
.key
{
    display: inline-block;
    
    width:33vw;
    height: 15vh;
    background-color: #202020;
    color: white;
    text-align: center;
    margin:-1px;
}